<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviamos parametros al controldor</title>
</head>
<body>
	<h1>Enviamos parametros al controlador del request HTTP GET-URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='hola Alejandro')}">/params/string/texto=Hola
				Alejandro</a></li>
		<li><a th:href="@{/params/string(texto='hola Cece')}">/params/string/texto=Hola
				Cece</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Como va todo Alejandro', numero=7)}">/params/mix-params?saludo=como
				va todo Alejandro&numero=7</a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='Como estas Alejandro', numero=9)}">/params/mix-params-request?saludo=Como
				estas Alejandro&numero=7</a></li>
	</ul>
</body>
</html>