<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recibe parametros desde request HTTP GET</title>
</head>
<body>
<h1>Recibe parametros desde request HTTP GET</h1>
<div th:text="${resultado}"></div>
</body>
</html>